#
# Copyright (c) 2024 Nordic Semiconductor
#
# SPDX-License-Identifier: LicenseRef-Nordic-5-Clause
#

if CLOCK_CONTROL

config CLOCK_CONTROL_SDH
	bool
	depends on NRF_SDH
	select CLOCK_CONTROL_NRF_FORCE_ALT
	default y
	help
	  Use SoftDevice compatible clock driver.

endif # CLOCK_CONTROL
